## Review

In [3]:
100+250

350

In [4]:
140+64

204

In [5]:
100*2

200

In [3]:
x = 100
print(x)
print(type(x))

100
<class 'int'>

In [7]:
x = "a"
print(x)
print(type(x))

a
<class 'str'>

In [12]:
x = 5
y = 6

In [14]:
print(x)
print(y)

5
6

In [6]:
list1 = [1,2,3,4,5]
print(list1)
print(type(list1))

[1, 2, 3, 4, 5]
<class 'list'>

In [8]:
list2 = [1,2,3,[4,5]]

In [9]:
list2

[1, 2, 3, [4, 5]]

In [15]:
dict1 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print(dict1['Name'])
print(dict1['Age'])
print(type(dict1))

Zara
7
<class 'dict'>

In [17]:
dict1["Class"]

'First'

## Import library

In [18]:
import pandas as pd

In [45]:
list2 = [["insofe",10],["gachibowli",10],["hyderabad",10]]

In [46]:
pd.DataFrame(list2)

            0   1
0      insofe  10
1  gachibowli  10
2   hyderabad  10

In [47]:
dict2 = {"names":["ram","sita","lakshman"],"score":[10,15,20]}

In [48]:
pd.DataFrame(dict2)

      names  score
0       ram     10
1      sita     15
2  lakshman     20

## Reading a CSV file

In [31]:
# Read data from csv file
ipl = pd.read_csv('matches2008-2016.csv')
ipl_new = pd.read_csv('matches2017.csv')

In [26]:
ipl.head(2)

,match_id,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,player_of_match_id,venue,venue_id,umpire1,umpire2
0,2008_1,2008,Bangalore,18-04-2008,KKR,RCB,RCB,field,normal,0,KKR,140,0,Brendon McCullum,82.0,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,Asad Rauf,RE Koertzen
1,2008_2,2008,Chandigarh,19-04-2008,CSK,KXI,CSK,bat,normal,0,CSK,33,0,Michael Hussey,18.0,I.S. Bindra Punjab Cricket Association Stadium...,9,MR Benson,SL Shastri

In [27]:
ipl.tail(2)

,match_id,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,player_of_match_id,venue,venue_id,umpire1,umpire2
575,2016_59,2016,Delhi,27-05-2016,GL,SRH,SRH,field,normal,0,SRH,0,4,David Warner,207.0,"Feroz Shah Kotla Stadium, Delhi",2,M Erasmus,CK Nandan
576,2016_60,2016,Bangalore,29-05-2016,SRH,RCB,SRH,bat,normal,0,SRH,8,0,Ben Cutting,526.0,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,HDPK Dharmasena,BNJ Oxenford

In [35]:
## Check the dimensions
print(ipl.shape)

(577, 19)

In [36]:
## Append dataset
ipl_final = ipl.append(ipl_new)

In [37]:
ipl_final.tail()

,match_id,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,player_of_match_id,venue,venue_id,umpire1,umpire2
54,2017_55,2017,Delhi,14-05-2017,RCB,DD,RCB,bat,normal,0,RCB,10,0,Harshal Patel,456.0,"Feroz Shah Kotla Stadium, Delhi",2,CK Nandan,C Shamshuddin
55,2017_56,2017,Mumbai,16-05-2017,RPS,MI,MI,field,normal,0,RPS,20,0,Washington Sunder,631.0,"Wankhede Stadium, Mumbai, Maharashtra",1,S Ravi,C Shamshuddin
56,2017_57,2017,Bangalore,17-05-2017,SRH,KKR,KKR,field,normal,1,KKR,0,7,Nathan Coulter-Nile,484.0,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,AK Chaudhary,Nitin Menon
57,2017_58,2017,Bangalore,19-05-2017,KKR,MI,MI,field,normal,0,MI,0,6,Karn Sharma,254.0,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,NJ Llong,Nitin Menon
58,2017_59,2017,Hyderabad,21-05-2017,MI,RPS,MI,bat,normal,0,MI,1,0,Krunal Pandya,582.0,"Rajiv Gandhi International Stadium, Hyderabad",4,NJ Llong,S Ravi

In [38]:
## Append with proper index
ipl_final = ipl.append(ipl_new,ignore_index=True)

In [39]:
ipl_final.tail(5)

,match_id,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,player_of_match_id,venue,venue_id,umpire1,umpire2
631,2017_55,2017,Delhi,14-05-2017,RCB,DD,RCB,bat,normal,0,RCB,10,0,Harshal Patel,456.0,"Feroz Shah Kotla Stadium, Delhi",2,CK Nandan,C Shamshuddin
632,2017_56,2017,Mumbai,16-05-2017,RPS,MI,MI,field,normal,0,RPS,20,0,Washington Sunder,631.0,"Wankhede Stadium, Mumbai, Maharashtra",1,S Ravi,C Shamshuddin
633,2017_57,2017,Bangalore,17-05-2017,SRH,KKR,KKR,field,normal,1,KKR,0,7,Nathan Coulter-Nile,484.0,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,AK Chaudhary,Nitin Menon
634,2017_58,2017,Bangalore,19-05-2017,KKR,MI,MI,field,normal,0,MI,0,6,Karn Sharma,254.0,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,NJ Llong,Nitin Menon
635,2017_59,2017,Hyderabad,21-05-2017,MI,RPS,MI,bat,normal,0,MI,1,0,Krunal Pandya,582.0,"Rajiv Gandhi International Stadium, Hyderabad",4,NJ Llong,S Ravi

In [40]:
## column names
ipl_final.columns

Index(['match_id', 'season', 'city', 'date', 'team1_id', 'team2_id',
       'toss_winner', 'toss_decision', 'result', 'dl_applied', 'winner',
       'win_by_runs', 'win_by_wickets', 'player_of_match',
       'player_of_match_id', 'venue', 'venue_id', 'umpire1', 'umpire2'],
      dtype='object')

In [41]:
## row names
ipl_final.index

RangeIndex(start=0, stop=636, step=1)

In [42]:
## Structure

## data type for each column
ipl_final.dtypes

match_id               object
season                  int64
city                   object
date                   object
team1_id               object
team2_id               object
toss_winner            object
toss_decision          object
result                 object
dl_applied              int64
winner                 object
win_by_runs             int64
win_by_wickets          int64
player_of_match        object
player_of_match_id    float64
venue                  object
venue_id                int64
umpire1                object
umpire2                object
dtype: object

In [46]:
## Summary

ipl_final.describe()

,season,dl_applied,win_by_runs,win_by_wickets,player_of_match_id,venue_id
count,636.000000,636.000000,636.000000,636.000000,633.000000,636.000000
mean,2012.490566,0.025157,13.682390,3.372642,209.751975,10.179245
std,2.773026,0.156726,23.908877,3.420338,180.132037,9.403096
min,2008.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,2010.000000,0.000000,0.000000,0.000000,69.000000,3.000000
50%,2012.000000,0.000000,0.000000,4.000000,149.000000,7.000000
75%,2015.000000,0.000000,20.000000,7.000000,321.000000,14.000000
max,2017.000000,1.000000,146.000000,10.000000,691.000000,34.000000

In [43]:
ipl_final.head(2)

,match_id,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,player_of_match_id,venue,venue_id,umpire1,umpire2
0,2008_1,2008,Bangalore,18-04-2008,KKR,RCB,RCB,field,normal,0,KKR,140,0,Brendon McCullum,82.0,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,Asad Rauf,RE Koertzen
1,2008_2,2008,Chandigarh,19-04-2008,CSK,KXI,CSK,bat,normal,0,CSK,33,0,Michael Hussey,18.0,I.S. Bindra Punjab Cricket Association Stadium...,9,MR Benson,SL Shastri

In [44]:
## change row index

ipl_final = ipl_final.set_index(["match_id"])

#### Drop columns

In [44]:
ipl_final.columns

Index(['match_id', 'season', 'city', 'date', 'team1_id', 'team2_id',
       'toss_winner', 'toss_decision', 'result', 'dl_applied', 'winner',
       'win_by_runs', 'win_by_wickets', 'player_of_match',
       'player_of_match_id', 'venue', 'venue_id', 'umpire1', 'umpire2'],
      dtype='object')

In [48]:
## drop column

ipl_final = ipl_final.drop("venue_id",axis=1)

In [49]:
ipl_final.columns

Index(['season', 'city', 'date', 'team1_id', 'team2_id', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'player_of_match_id', 'venue',
       'umpire1', 'umpire2'],
      dtype='object')

#### Drop Rows

In [50]:
ipl_final.head(2)

,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,player_of_match_id,venue,umpire1,umpire2
match_id,,,,,,,,,,,,,,,,,
2008_1,2008,Bangalore,18-04-2008,KKR,RCB,RCB,field,normal,0,KKR,140,0,Brendon McCullum,82.0,"M.Chinnaswamy Stadium Bengaluru, Karnataka",Asad Rauf,RE Koertzen
2008_2,2008,Chandigarh,19-04-2008,CSK,KXI,CSK,bat,normal,0,CSK,33,0,Michael Hussey,18.0,I.S. Bindra Punjab Cricket Association Stadium...,MR Benson,SL Shastri

In [51]:
# Dropping rows
ipl_final = ipl_final.drop(['2008_1'], axis=0)  # Axis = 0 for rows

In [52]:
ipl_final.head(2)

,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,player_of_match_id,venue,umpire1,umpire2
match_id,,,,,,,,,,,,,,,,,
2008_2,2008,Chandigarh,19-04-2008,CSK,KXI,CSK,bat,normal,0,CSK,33,0,Michael Hussey,18.0,I.S. Bindra Punjab Cricket Association Stadium...,MR Benson,SL Shastri
2008_3,2008,Delhi,19-04-2008,RR,DD,RR,bat,normal,0,DD,0,9,Farveez Maharoof,60.0,"Feroz Shah Kotla Stadium, Delhi",Aleem Dar,GA Pratapkumar

In [3]:
import pandas as pd
import numpy as np

In [1]:
labels = ['Pregnant', "Glucose", "BloddPressure","SkinThickness","Insulin","BMI","DiabetsPedigreeFunction","Age","Outcome"]

In [4]:
diabets = pd.read_csv("pima_indians_diabetes.csv")

In [5]:
diabets.head(1)

   6  148  72  35  0  33.6  0.627  50  1
0  1   85  66  29  0  26.6  0.351  31  0

In [ ]:
diabets.columns