In [35]:
import os

In [36]:
os.getcwd()

'C:\\Users\\Prashanth Yerabati\\Python Lab'

In [37]:
import pandas as pd
import numpy as np

In [38]:
ipl = pd.read_csv("matches2008-2016_1.csv")
ipl_new = pd.read_csv("matches2017_1.csv")

In [39]:
matches = ipl.append(ipl_new, ignore_index = True)

In [40]:
matches.shape

(636, 19)

In [41]:
matches.info

<bound method DataFrame.info of     match_id  season        city        date team1_id team2_id toss_winner  \
0     2008_1  2008.0   Bangalore  18-04-2008      KKR      RCB         RCB
1     2008_2  2008.0  Chandigarh  19-04-2008      CSK      KXI         CSK
2     2008_3  2008.0       Delhi  19-04-2008       RR       DD          RR
3     2008_4  2008.0      Mumbai  20-04-2008       MI      RCB          MI
4     2008_5     NaN     Kolkata  20-04-2008       DC      KKR          DC
5     2008_6  2008.0      Jaipur  21-04-2008      KXI       RR         KXI
6     2008_7  2008.0   Hyderabad  22-04-2008       DC       DD          DC
7     2008_8  2008.0     Chennai  23-04-2008      CSK       MI          MI
8     2008_9  2008.0   Hyderabad  24-04-2008       DC       RR          RR
9    2008_10     NaN  Chandigarh  25-04-2008      KXI       MI          MI
10   2008_11  2008.0   Bangalore  26-04-2008      RCB       RR          RR
11   2008_12  2008.0     Chennai  26-04-2008      KKR      CSK         KKR
12   2008_13  2008.0      Mumbai  27-04-2008       MI       DC          DC
13   2008_14  2008.0  Chandigarh  27-04-2008       DD      KXI          DD
14   2008_15  2008.0   Bangalore  28-04-2008      CSK      RCB         CSK
15   2008_16  2008.0     Kolkata  29-04-2008      KKR       MI         KKR
16   2008_17  2008.0       Delhi  30-04-2008       DD      RCB         RCB
17   2008_18  2008.0   Hyderabad    1/5/2008       DC      KXI         KXI
18   2008_19  2008.0      Jaipur    1/5/2008       RR      KKR          RR
19   2008_20  2008.0     Chennai    2/5/2008      CSK       DD         CSK
20   2008_21  2008.0   Hyderabad  25-05-2008       DC      RCB          DC
21   2008_22  2008.0  Chandigarh    3/5/2008      KXI      KKR         KXI
22   2008_23  2008.0      Mumbai    4/5/2008       MI       DD          DD
23   2008_24  2008.0      Jaipur    4/5/2008      CSK       RR         CSK
24   2008_25  2008.0   Bangalore    5/5/2008      RCB      KXI         KXI
25   2008_26  2008.0     Chennai    6/5/2008      CSK       DC          DC
26   2008_27  2008.0      Mumbai    7/5/2008       RR       MI          MI
27   2008_28  2008.0       Delhi    8/5/2008       DD      CSK         CSK
28   2008_29  2008.0     Kolkata    8/5/2008      KKR      RCB         KKR
29   2008_30  2008.0      Jaipur    9/5/2008       DC       RR          RR
..       ...     ...         ...         ...      ...      ...         ...
606  2017_30  2017.0   Bangalore  27-04-2017      RCB       GL          GL
607  2017_31  2017.0     Kolkata  28-04-2017       DD      KKR         KKR
608  2017_32  2017.0  Chandigarh  28-04-2017      SRH      KXI         KXI
609  2017_33  2017.0        Pune  29-04-2017      RPS      RCB         RCB
610  2017_34  2017.0      Rajkot  29-04-2017       GL       MI          GL
611  2017_35  2017.0  Chandigarh  30-04-2017       DD      KXI         KXI
612  2017_36  2017.0   Hyderabad  30-04-2017      SRH      KKR         KKR
613  2017_37  2017.0      Mumbai    1/5/2017      RCB       MI         RCB
614  2017_38  2017.0        Pune    1/5/2017       GL      RPS         RPS
615  2017_39  2017.0       Delhi    2/5/2017      SRH       DD          DD
616  2017_40  2017.0     Kolkata    3/5/2017      KKR      RPS         RPS
617  2017_41  2017.0       Delhi    4/5/2017       GL       DD          DD
618  2017_42  2017.0   Bangalore    5/5/2017      KXI      RCB         RCB
619  2017_43  2017.0   Hyderabad    6/5/2017      RPS      SRH         SRH
620  2017_44  2017.0       Delhi    6/5/2017       MI       DD          DD
621  2017_45  2017.0   Bangalore    7/5/2017      RCB      KKR         KKR
622  2017_46  2017.0  Chandigarh    7/5/2017      KXI       GL          GL
623  2017_47  2017.0   Hyderabad    8/5/2017       MI      SRH          MI
624  2017_48  2017.0  Chandigarh    9/5/2017      KXI      KKR         KKR
625  2017_49  2017.0      Kanpur   10/5/2017       GL       DD          DD
626  2017_50  2017.0      Mumbai   11/5/2017      KXI       MI          MI
627  2017_51  2017.0       Delhi   12/5/2017       DD      RPS          DD
628  2017_52  2017.0      Kanpur  13-05-2017       GL      SRH         SRH
629  2017_53  2017.0     Kolkata  13-05-2017       MI      KKR         KKR
630  2017_54  2017.0        Pune  14-05-2017      KXI      RPS         RPS
631  2017_55  2017.0       Delhi  14-05-2017      RCB       DD         RCB
632  2017_56  2017.0      Mumbai  16-05-2017      RPS       MI          MI
633  2017_57  2017.0   Bangalore  17-05-2017      SRH      KKR         KKR
634  2017_58  2017.0   Bangalore  19-05-2017      KKR       MI          MI
635  2017_59  2017.0   Hyderabad  21-05-2017       MI      RPS          MI

    toss_decision  result  dl_applied winner  win_by_runs  win_by_wickets  \
0           field  normal           0    KKR          140               0
1             bat  normal           0    CSK           33               0
2             bat  normal           0     DD            0               9
3             bat  normal           0    RCB            0               5
4             bat  normal           0    KKR            0               5
5             bat  normal           0     RR            0               6
6             bat  normal           0     DD            0               9
7           field  normal           0    CSK            6               0
8           field  normal           0     RR            0               3
9           field  normal           0    KXI           66               0
10          field  normal           0     RR            0               7
11            bat  normal           0    CSK            0               9
12          field  normal           0     DC            0              10
13            bat  normal           0    KXI            0               4
14            bat  normal           0    CSK           13               0
15            bat  normal           0     MI            0               7
16          field  normal           0     DD           10               0
17          field  normal           0    KXI            0               7
18            bat  normal           0     RR           45               0
19            bat  normal           0     DD            0               8
20            bat  normal           0    RCB            0               5
21            bat  normal           0    KXI            9               0
22          field  normal           0     MI           29               0
23            bat  normal           0     RR            0               8
24          field  normal           0    KXI            0               6
25          field  normal           0     DC            0               7
26          field  normal           0     MI            0               7
27          field  normal           0    CSK            0               4
28            bat  normal           0    KKR            5               0
29          field  normal           0     RR            0               8
..            ...     ...         ...    ...          ...             ...
606         field  normal           0     GL            0               7
607         field  normal           0    KKR            0               7
608         field  normal           0    SRH           26               0
609         field  normal           0    RPS           61               0
610           bat     tie           0     MI            0               0
611         field  normal           0    KXI            0              10
612         field  normal           0    SRH           48               0
613           bat  normal           0     MI            0               5
614         field  normal           0    RPS            0               5
615         field  normal           0     DD            0               6
616         field  normal           0    RPS            0               4
617         field  normal           0     DD            0               7
618         field  normal           0    KXI           19               0
619         field  normal           0    RPS           12               0
620         field  normal           0     MI          146               0
621         field  normal           0    KKR            0               6
622         field  normal           0     GL            0               6
623           bat  normal           0    SRH            0               7
624         field  normal           0    KXI           14               0
625         field  normal           0     DD            0               2
626         field  normal           0    KXI            7               0
627           bat  normal           0     DD            7               0
628         field  normal           0    SRH            0               8
629         field  normal           0     MI            9               0
630         field  normal           0    RPS            0               9
631           bat  normal           0    RCB           10               0
632         field  normal           0    RPS           20               0
633         field  normal           1    KKR            0               7
634         field  normal           0     MI            0               6
635           bat  normal           0     MI            1               0

          player_of_match  player_of_match_id  \
0        Brendon McCullum                 NaN
1          Michael Hussey                 NaN
2        Farveez Maharoof                60.0
3            Mark Boucher               145.0
4            David Hussey                80.0
5            Shane Watson               175.0
6         Virender Sehwag                46.0
7          Matthew Hayden                 NaN
8            Yusuf Pathan               171.0
9        Kumar Sangakkara                98.0
10           Shane Watson               175.0
11             Jacob Oram                23.0
12         Adam Gilchrist                 NaN
13           Simon Katich               105.0
14   Mahendra Singh Dhoni                 1.0
15      Sanath Jayasuriya               117.0
16          Glenn McGrath                50.0
17            Shaun Marsh               106.0
18       Swapnil Asnodkar               166.0
19        Virender Sehwag                46.0
20            Vinay Kumar               153.0
21           Irfan Pathan                96.0
22          Shaun Pollock               121.0
23          Sohail Tanvir               174.0
24            S Sreesanth               100.0
25         Adam Gilchrist                28.0
26           Ashish Nehra               119.0
27   Mahendra Singh Dhoni                 1.0
28         Sourav Ganguly                66.0
29           Yusuf Pathan               171.0
..                    ...                 ...
606            Andrew Tye               535.0
607        Gautam Gambhir                58.0
608           Rashid Khan               634.0
609       Lockie Ferguson               627.0
610         Krunal Pandya               582.0
611        Sandeep Sharma               479.0
612          David Warner               207.0
613          Rohit Sharma                30.0
614            Ben Stokes               625.0
615        Mohammed Shami               647.0
616        Rahul Tripathi               630.0
617          Rishabh Pant               572.0
618        Sandeep Sharma               479.0
619        Jaydev Unadkat               361.0
620         Lendl Simmons               524.0
621          Sunil Narine               437.0
622          Dwayne Smith               124.0
623        Shikhar Dhawan                57.0
624          Mohit Sharma               469.0
625          Shreyas Iyer               537.0
626       Wriddhiman Saha                84.0
627            Karun Nair               458.0
628        Mohammed Siraj               681.0
629         Ambati Rayudu               309.0
630        Jaydev Unadkat               361.0
631         Harshal Patel               456.0
632     Washington Sunder               631.0
633   Nathan Coulter-Nile               484.0
634           Karn Sharma               254.0
635         Krunal Pandya               582.0

                                                 venue  venue_id  \
0           M.Chinnaswamy Stadium Bengaluru, Karnataka         7
1    I.S. Bindra Punjab Cricket Association Stadium...         9
2                      Feroz Shah Kotla Stadium, Delhi         2
3                Wankhede Stadium, Mumbai, Maharashtra         1
4            Eden Garden Stadium, Kolkata, West Bengal         3
5           Sawai Man Singh Stadium, Jaipur, Rajasthan         6
6        Rajiv Gandhi International Stadium, Hyderabad         4
7          M.A.Chidambaram Stadium Chennai, Tamil Nadu         5
8        Rajiv Gandhi International Stadium, Hyderabad         4
9    I.S. Bindra Punjab Cricket Association Stadium...         9
10          M.Chinnaswamy Stadium Bengaluru, Karnataka         7
11         M.A.Chidambaram Stadium Chennai, Tamil Nadu         5
12                          Dr DY Patil Sports Academy        10
13   I.S. Bindra Punjab Cricket Association Stadium...         9
14          M.Chinnaswamy Stadium Bengaluru, Karnataka         7
15           Eden Garden Stadium, Kolkata, West Bengal         3
16                     Feroz Shah Kotla Stadium, Delhi         2
17       Rajiv Gandhi International Stadium, Hyderabad         4
18          Sawai Man Singh Stadium, Jaipur, Rajasthan         6
19         M.A.Chidambaram Stadium Chennai, Tamil Nadu         5
20       Rajiv Gandhi International Stadium, Hyderabad         4
21   I.S. Bindra Punjab Cricket Association Stadium...         9
22                          Dr DY Patil Sports Academy        10
23          Sawai Man Singh Stadium, Jaipur, Rajasthan         6
24          M.Chinnaswamy Stadium Bengaluru, Karnataka         7
25         M.A.Chidambaram Stadium Chennai, Tamil Nadu         5
26                          Dr DY Patil Sports Academy        10
27                     Feroz Shah Kotla Stadium, Delhi         2
28           Eden Garden Stadium, Kolkata, West Bengal         3
29          Sawai Man Singh Stadium, Jaipur, Rajasthan         6
..                                                 ...       ...
606         M.Chinnaswamy Stadium Bengaluru, Karnataka         7
607          Eden Garden Stadium, Kolkata, West Bengal         3
608  I.S. Bindra Punjab Cricket Association Stadium...         9
609            Maharashtra Cricket Association Stadium        32
610             Saurashtra Cricket Association Stadium        33
611  I.S. Bindra Punjab Cricket Association Stadium...         9
612      Rajiv Gandhi International Stadium, Hyderabad         4
613              Wankhede Stadium, Mumbai, Maharashtra         1
614            Maharashtra Cricket Association Stadium        32
615                    Feroz Shah Kotla Stadium, Delhi         2
616          Eden Garden Stadium, Kolkata, West Bengal         3
617                    Feroz Shah Kotla Stadium, Delhi         2
618         M.Chinnaswamy Stadium Bengaluru, Karnataka         7
619      Rajiv Gandhi International Stadium, Hyderabad         4
620                    Feroz Shah Kotla Stadium, Delhi         2
621         M.Chinnaswamy Stadium Bengaluru, Karnataka         7
622  I.S. Bindra Punjab Cricket Association Stadium...         9
623      Rajiv Gandhi International Stadium, Hyderabad         4
624  I.S. Bindra Punjab Cricket Association Stadium...         9
625                                         Green Park        34
626              Wankhede Stadium, Mumbai, Maharashtra         1
627                    Feroz Shah Kotla Stadium, Delhi         2
628                                         Green Park        34
629          Eden Garden Stadium, Kolkata, West Bengal         3
630            Maharashtra Cricket Association Stadium        32
631                    Feroz Shah Kotla Stadium, Delhi         2
632              Wankhede Stadium, Mumbai, Maharashtra         1
633         M.Chinnaswamy Stadium Bengaluru, Karnataka         7
634         M.Chinnaswamy Stadium Bengaluru, Karnataka         7
635      Rajiv Gandhi International Stadium, Hyderabad         4

                   umpire1         umpire2
0                Asad Rauf     RE Koertzen
1                MR Benson      SL Shastri
2                Aleem Dar  GA Pratapkumar
3                 SJ Davis       DJ Harper
4                BF Bowden     K Hariharan
5                Aleem Dar       RB Tiffin
6                IL Howell       AM Saheba
7                DJ Harper  GA Pratapkumar
8                Asad Rauf       MR Benson
9                Aleem Dar       AM Saheba
10               MR Benson       IL Howell
11               BF Bowden  AV Jayaprakash
12               Asad Rauf      SL Shastri
13             RE Koertzen       I Shivram
14             BR Doctrove       RB Tiffin
15               BF Bowden  AV Jayaprakash
16               Aleem Dar       I Shivram
17             BR Doctrove       RB Tiffin
18             RE Koertzen  GA Pratapkumar
19               BF Bowden     K Hariharan
20               Asad Rauf     RE Koertzen
21               DJ Harper       I Shivram
22               IL Howell     RE Koertzen
23               Asad Rauf  AV Jayaprakash
24                SJ Davis     BR Doctrove
25               MR Benson       RB Tiffin
26               DJ Harper     RE Koertzen
27               Aleem Dar       RB Tiffin
28               Asad Rauf       IL Howell
29               MR Benson       AM Saheba
..                     ...             ...
606           AK Chaudhary   C Shamshuddin
607               NJ Llong          S Ravi
608            Nitin Menon       CK Nandan
609  KN Ananthapadmanabhan       M Erasmus
610           AK Chaudhary     CB Gaffaney
611               YC Barde       CK Nandan
612            AY Dandekar          S Ravi
613           AK Chaudhary     CB Gaffaney
614              M Erasmus   C Shamshuddin
615               YC Barde     Nitin Menon
616  KN Ananthapadmanabhan  A Nand Kishore
617              M Erasmus     Nitin Menon
618            CB Gaffaney   C Shamshuddin
619  KN Ananthapadmanabhan    AK Chaudhary
620            Nitin Menon       CK Nandan
621            AY Dandekar   C Shamshuddin
622         A Nand Kishore       VK Sharma
623  KN Ananthapadmanabhan       M Erasmus
624         A Nand Kishore          S Ravi
625               YC Barde    AK Chaudhary
626             A Deshmukh  A Nand Kishore
627  KN Ananthapadmanabhan       CK Nandan
628           AK Chaudhary     Nitin Menon
629         A Nand Kishore          S Ravi
630            AY Dandekar      A Deshmukh
631              CK Nandan   C Shamshuddin
632                 S Ravi   C Shamshuddin
633           AK Chaudhary     Nitin Menon
634               NJ Llong     Nitin Menon
635               NJ Llong          S Ravi

[636 rows x 19 columns]>

In [42]:
matches.dtypes

match_id               object
season                float64
city                   object
date                   object
team1_id               object
team2_id               object
toss_winner            object
toss_decision          object
result                 object
dl_applied              int64
winner                 object
win_by_runs             int64
win_by_wickets          int64
player_of_match        object
player_of_match_id    float64
venue                  object
venue_id                int64
umpire1                object
umpire2                object
dtype: object

In [44]:
matches.head(6)
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 19 columns):
match_id              636 non-null object
season                634 non-null float64
city                  629 non-null object
date                  636 non-null object
team1_id              636 non-null object
team2_id              636 non-null object
toss_winner           636 non-null object
toss_decision         636 non-null object
result                636 non-null object
dl_applied            636 non-null int64
winner                633 non-null object
win_by_runs           636 non-null int64
win_by_wickets        636 non-null int64
player_of_match       633 non-null object
player_of_match_id    629 non-null float64
venue                 636 non-null object
venue_id              636 non-null int64
umpire1               635 non-null object
umpire2               635 non-null object
dtypes: float64(2), int64(4), object(13)
memory usage: 94.5+ KB

In [48]:
matches[['city','date','team1_id','team2_id','toss_winner','toss_decision','result','winner','player_of_match','venue','venue_id','umpire1','umpire2']] = \
    matches[['city','date','team1_id','team2_id','toss_winner','toss_decision','result','winner','player_of_match','venue','venue_id','umpire1','umpire2']].astype('category')

In [49]:
matches.dtypes

match_id                object
season                 float64
city                  category
date                  category
team1_id              category
team2_id              category
toss_winner           category
toss_decision         category
result                category
dl_applied               int64
winner                category
win_by_runs              int64
win_by_wickets           int64
player_of_match       category
player_of_match_id     float64
venue                 category
venue_id              category
umpire1               category
umpire2               category
dtype: object

In [51]:
matches['match_id'] = matches['match_id'].astype('category')

In [52]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 19 columns):
match_id              636 non-null category
season                634 non-null float64
city                  629 non-null category
date                  636 non-null category
team1_id              636 non-null category
team2_id              636 non-null category
toss_winner           636 non-null category
toss_decision         636 non-null category
result                636 non-null category
dl_applied            636 non-null int64
winner                633 non-null category
win_by_runs           636 non-null int64
win_by_wickets        636 non-null int64
player_of_match       633 non-null category
player_of_match_id    629 non-null float64
venue                 636 non-null category
venue_id              636 non-null category
umpire1               635 non-null category
umpire2               635 non-null category
dtypes: category(14), float64(2), int64(3)
memory usage: 106.3 KB

In [53]:
matches.describe()

,season,dl_applied,win_by_runs,win_by_wickets,player_of_match_id
count,634.000000,636.000000,636.000000,636.000000,629.000000
mean,2012.504732,0.025157,13.682390,3.372642,210.872814
std,2.765874,0.156726,23.908877,3.420338,180.138057
min,2008.000000,0.000000,0.000000,0.000000,1.000000
25%,2010.000000,0.000000,0.000000,0.000000,69.000000
50%,2012.000000,0.000000,0.000000,4.000000,149.000000
75%,2015.000000,0.000000,20.000000,7.000000,321.000000
max,2017.000000,1.000000,146.000000,10.000000,691.000000

In [55]:
matches.venue_id.value_counts()

7     66
3     61
2     60
1     57
4     49
5     48
9     46
6     33
26    17
10    17
32    15
13    15
14    12
20    12
19    11
25    11
33    10
23     9
16     8
28     7
29     7
21     7
12     7
11     7
31     7
30     6
27     6
8      5
24     5
34     4
15     3
22     3
17     3
18     2
Name: venue_id, dtype: int64

In [56]:
matches.isna().sum()

match_id              0
season                2
city                  7
date                  0
team1_id              0
team2_id              0
toss_winner           0
toss_decision         0
result                0
dl_applied            0
winner                3
win_by_runs           0
win_by_wickets        0
player_of_match       3
player_of_match_id    7
venue                 0
venue_id              0
umpire1               1
umpire2               1
dtype: int64

In [57]:
matches.isnull().sum()

match_id              0
season                2
city                  7
date                  0
team1_id              0
team2_id              0
toss_winner           0
toss_decision         0
result                0
dl_applied            0
winner                3
win_by_runs           0
win_by_wickets        0
player_of_match       3
player_of_match_id    7
venue                 0
venue_id              0
umpire1               1
umpire2               1
dtype: int64

In [58]:
matches.shape

(636, 19)

In [60]:
matches.iloc[:,1:19] = matches.iloc[:,1:20].replace('',np.nan)

In [61]:
matches[404:410]

,match_id,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,player_of_match_id,venue,venue_id,umpire1,umpire2
404,2014_7,2014.0,Sharjah,20-04-2014,RR,KXI,KXI,field,normal,0,KXI,0,7,Glenn Maxwell,429.0,Sharjah Cricket Stadium,30,BF Bowden,M Erasmus
405,2014_8,2014.0,Abu Dhabi,21-04-2014,CSK,DD,CSK,bat,normal,0,CSK,93,0,Suresh Raina,24.0,Sheikh Zayed Stadium,29,RK Illingworth,C Shamshuddin
406,2014_9,2014.0,Sharjah,22-04-2014,KXI,SRH,SRH,field,normal,0,KXI,72,0,Glenn Maxwell,429.0,Sharjah Cricket Stadium,30,M Erasmus,S Ravi
407,2014_10,2014.0,NaN,23-04-2014,CSK,RR,RR,field,normal,0,CSK,7,0,Ravindra Jadeja,177.0,Dubai International Cricket Stadium,31,HDPK Dharmasena,RK Illingworth
408,2014_11,2014.0,Sharjah,24-04-2014,KKR,RCB,RCB,field,normal,0,KKR,2,0,Chris Lynn,343.0,Sharjah Cricket Stadium,30,Aleem Dar,VA Kulkarni
409,2014_12,2014.0,NaN,25-04-2014,SRH,DD,SRH,bat,normal,0,SRH,4,0,Aaron Finch,322.0,Dubai International Cricket Stadium,31,M Erasmus,S Ravi

In [62]:
matches_na_rows_dropped = matches.copy()

In [64]:
matches_na_rows_dropped = matches_na_rows_dropped.dropna(axis=0)

In [70]:
matches.shape
matches_na_rows_dropped.shape

(619, 19)

In [71]:
matches.shape

(636, 19)

In [72]:
matches_na_cols_dropped  = matches.copy()

In [73]:
mathces_na_cols_dropped = matches_na_cols_dropped.dropna(axis=1)

In [74]:
mathces_na_cols_dropped.shape

(636, 12)

In [96]:
from sklearn.preprocessing import Imputer

In [97]:
mean_imputer = Imputer(strategy = "mean")

In [98]:
mean_imputed = matches.copy()

In [99]:
mean_imputed.dtypes

match_id              category
season                 float64
city                  category
date                  category
team1_id              category
team2_id              category
toss_winner           category
toss_decision         category
result                category
dl_applied               int64
winner                category
win_by_runs              int64
win_by_wickets           int64
player_of_match       category
player_of_match_id     float64
venue                 category
venue_id              category
umpire1               category
umpire2               category
dtype: object

In [102]:
mean_imputed.loc[:,["season","dl_applied","win_by_runs","win_by_wickets","player_of_match_id"]] = mean_imputer.fit_transform(mean_imputed.mean_imputed.loc[:,["season","dl_applied","win_by_runs","win_by_wickets","player_of_match_id"]])

In [104]:
mean_imputed.loc[:,["season","dl_applied","win_by_runs","win_by_wickets","player_of_match_id"]].isna().sum()

season                0
dl_applied            0
win_by_runs           0
win_by_wickets        0
player_of_match_id    0
dtype: int64

In [105]:
mean_imputed.shape

(636, 19)

In [106]:
mean_imputed.head(6)

,match_id,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,player_of_match_id,venue,venue_id,umpire1,umpire2
0,2008_1,2008.000000,Bangalore,18-04-2008,KKR,RCB,RCB,field,normal,0.0,KKR,140.0,0.0,Brendon McCullum,210.872814,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,Asad Rauf,RE Koertzen
1,2008_2,2008.000000,Chandigarh,19-04-2008,CSK,KXI,CSK,bat,normal,0.0,CSK,33.0,0.0,Michael Hussey,210.872814,I.S. Bindra Punjab Cricket Association Stadium...,9,MR Benson,SL Shastri
2,2008_3,2008.000000,Delhi,19-04-2008,RR,DD,RR,bat,normal,0.0,DD,0.0,9.0,Farveez Maharoof,60.000000,"Feroz Shah Kotla Stadium, Delhi",2,Aleem Dar,GA Pratapkumar
3,2008_4,2008.000000,Mumbai,20-04-2008,MI,RCB,MI,bat,normal,0.0,RCB,0.0,5.0,Mark Boucher,145.000000,"Wankhede Stadium, Mumbai, Maharashtra",1,SJ Davis,DJ Harper
4,2008_5,2012.504732,Kolkata,20-04-2008,DC,KKR,DC,bat,normal,0.0,KKR,0.0,5.0,David Hussey,80.000000,"Eden Garden Stadium, Kolkata, West Bengal",3,BF Bowden,K Hariharan
5,2008_6,2008.000000,Jaipur,21-04-2008,KXI,RR,KXI,bat,normal,0.0,RR,0.0,6.0,Shane Watson,175.000000,"Sawai Man Singh Stadium, Jaipur, Rajasthan",6,Aleem Dar,RB Tiffin

In [115]:
from sklearn.preprocessing import MinMaxScaler

In [116]:
range_scaler = MinMaxScaler()

In [117]:
range_scaled = mean_imputed.copy()

In [118]:
range_scaled.loc[:,["season","dl_applied","win_by_runs","win_by_wickets","player_of_match_id"]] = range_scaler.fit_transform(range_scaled.loc[:,["season","dl_applied","win_by_runs","win_by_wickets","player_of_match_id"]])

In [119]:
range_scaled.loc[:,["season","dl_applied","win_by_runs","win_by_wickets","player_of_match_id"]].isna().sum()

season                0
dl_applied            0
win_by_runs           0
win_by_wickets        0
player_of_match_id    0
dtype: int64

In [120]:
range_scaled.head(6)

,match_id,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,player_of_match_id,venue,venue_id,umpire1,umpire2
0,2008_1,0.000000,Bangalore,18-04-2008,KKR,RCB,RCB,field,normal,0.0,KKR,0.958904,0.0,Brendon McCullum,0.304163,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,Asad Rauf,RE Koertzen
1,2008_2,0.000000,Chandigarh,19-04-2008,CSK,KXI,CSK,bat,normal,0.0,CSK,0.226027,0.0,Michael Hussey,0.304163,I.S. Bindra Punjab Cricket Association Stadium...,9,MR Benson,SL Shastri
2,2008_3,0.000000,Delhi,19-04-2008,RR,DD,RR,bat,normal,0.0,DD,0.000000,0.9,Farveez Maharoof,0.085507,"Feroz Shah Kotla Stadium, Delhi",2,Aleem Dar,GA Pratapkumar
3,2008_4,0.000000,Mumbai,20-04-2008,MI,RCB,MI,bat,normal,0.0,RCB,0.000000,0.5,Mark Boucher,0.208696,"Wankhede Stadium, Mumbai, Maharashtra",1,SJ Davis,DJ Harper
4,2008_5,0.500526,Kolkata,20-04-2008,DC,KKR,DC,bat,normal,0.0,KKR,0.000000,0.5,David Hussey,0.114493,"Eden Garden Stadium, Kolkata, West Bengal",3,BF Bowden,K Hariharan
5,2008_6,0.000000,Jaipur,21-04-2008,KXI,RR,KXI,bat,normal,0.0,RR,0.000000,0.6,Shane Watson,0.252174,"Sawai Man Singh Stadium, Jaipur, Rajasthan",6,Aleem Dar,RB Tiffin

In [128]:
from sklearn.preprocessing import StandardScaler

In [130]:
standard_scaler = StandardScaler()

In [129]:
standard_scaled = mean_imputed.copy()

In [133]:
standard_scaled.loc[:,["season","dl_applied","win_by_runs","win_by_wickets","player_of_match_id"]] = standard_scaler.fit_transform(standard_scaled.loc[:,["season","dl_applied","win_by_runs","win_by_wickets","player_of_match_id"]])

In [134]:
standard_scaled.loc[:,["season","dl_applied","win_by_runs","win_by_wickets","player_of_match_id"]].isna().sum()

season                0
dl_applied            0
win_by_runs           0
win_by_wickets        0
player_of_match_id    0
dtype: int64

In [135]:
standard_scaled.head(6)

,match_id,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,player_of_match_id,venue,venue_id,umpire1,umpire2
0,2008_1,-1.632538,Bangalore,18-04-2008,KKR,RCB,RCB,field,normal,-0.160644,KKR,5.287452,-0.986831,Brendon McCullum,-1.587791e-16,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,Asad Rauf,RE Koertzen
1,2008_2,-1.632538,Chandigarh,19-04-2008,CSK,KXI,CSK,bat,normal,-0.160644,CSK,0.808604,-0.986831,Michael Hussey,-1.587791e-16,I.S. Bindra Punjab Cricket Association Stadium...,9,MR Benson,SL Shastri
2,2008_3,-1.632538,Delhi,19-04-2008,RR,DD,RR,bat,normal,-0.160644,DD,-0.572723,1.646559,Farveez Maharoof,-8.428577e-01,"Feroz Shah Kotla Stadium, Delhi",2,Aleem Dar,GA Pratapkumar
3,2008_4,-1.632538,Mumbai,20-04-2008,MI,RCB,MI,bat,normal,-0.160644,RCB,-0.572723,0.476163,Mark Boucher,-3.680014e-01,"Wankhede Stadium, Mumbai, Maharashtra",1,SJ Davis,DJ Harper
4,2008_5,0.000000,Kolkata,20-04-2008,DC,KKR,DC,bat,normal,-0.160644,KKR,-0.572723,0.476163,David Hussey,-7.311268e-01,"Eden Garden Stadium, Kolkata, West Bengal",3,BF Bowden,K Hariharan
5,2008_6,-1.632538,Jaipur,21-04-2008,KXI,RR,KXI,bat,normal,-0.160644,RR,-0.572723,0.768762,Shane Watson,-2.004051e-01,"Sawai Man Singh Stadium, Jaipur, Rajasthan",6,Aleem Dar,RB Tiffin