In [1]:
import os
import pandas as pd
from datetime import datetime

In [2]:
weather_data = pd.read_csv('KPHL.csv', parse_dates=['date'])

In [3]:
weather_data.shape

(365, 13)

In [4]:
for column in weather_data.columns:
    if column in ['date'] :
        continue

In [5]:
weather_data_subset = weather_data[weather_data['date'] >= datetime(year=2014,month=7,day=1)]
weather_data_subset = weather_data[weather_data['date'] <= datetime(year=2015,month=7,day=1)].copy()

In [6]:
weather_data_subset.shape

(365, 13)

In [7]:
weather_data_subset['day_order'] = range(len(weather_data_subset))

In [8]:
weather_data_subset.shape

(365, 14)

In [33]:
weather_data_subset.head(5)

,date,actual_mean_temp,actual_min_temp,actual_max_temp,average_min_temp,average_max_temp,record_min_temp,record_max_temp,record_min_temp_year,record_max_temp_year,actual_precipitation,average_precipitation,record_precipitation,day_order
0,2014-07-01,83,72,93,68,86,52,102,1988,1901,0.00,0.13,1.04,0
1,2014-07-02,86,75,96,68,86,52,103,1965,1901,0.21,0.13,1.73,1
2,2014-07-03,83,74,92,68,87,54,104,1957,1966,0.09,0.12,3.66,2
3,2014-07-04,73,68,78,68,87,52,103,1986,1966,0.04,0.13,2.08,3
4,2014-07-05,74,64,83,69,87,55,100,1963,1999,0.00,0.13,4.38,4

In [34]:
day_order = weather_data_subset['day_order']

In [37]:
record_max_temps = weather_data_subset['record_max_temp'].values
record_min_temps = weather_data_subset['record_min_temp'].values
average_max_temps = weather_data_subset['average_max_temp'].values
average_min_temps = weather_data_subset['average_min_temp'].values
actual_max_temps = weather_data_subset['actual_max_temp'].values
actual_min_temps = weather_data_subset['actual_min_temp'].values

In [41]:
new_max_records = weather_data_subset[weather_data_subset['record_max_temp'] <= weather_data_subset['actual_max_temp']]
new_max_records.head(5)
new_min_records = weather_data_subset[weather_data_subset['record_min_temp'] >= weather_data_subset['actual_min_temp']]

In [49]:
month_begining_df = weather_data_subset[weather_data_subset['date'].apply(lambda x: True if x.day ==1 else False)]
month_begining_indeces = list(month_begining_df['day_order'].values)
month_begining_indeces
month_begining_names = list(month_begining_df['date'].apply(lambda x: x.strftime("%B")).values)
month_begining_names

[0, 31, 62, 92, 123, 153, 184, 215, 243, 274, 304, 335]

In [56]:
month_begining_indeces += [weather_data_subset['day_order'].values[-1]]
month_begining_names += ['July']
month_begining_names

['July',
 'August',
 'September',
 'October',
 'November',
 'December',
 'January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'July']