In [4]:
import os
getcwd()

NameError: name 'getcwd' is not defined

In [5]:
os.getcwd()

'C:\\Users\\Prashanth Yerabati'

In [7]:
import pandas as pd

In [6]:
x = 100
print(x)
print(type(x))

100
<class 'int'>

In [8]:
x = "a"
print(x)
print(type(x))

a
<class 'str'>

In [10]:
list1 = [1, 2, 3, 4, 5]
print(list1)
print(type(list1))

[1, 2, 3, 4, 5]
<class 'list'>

In [12]:
list2 = [1,2,3,[4,5]]
list2

[1, 2, 3, [4, 5]]

In [15]:
dict1 = {'Name': 'Zara', 'Age': 7, 'Class':'A'}
print(dict1['Name'])
print(dict1['Age'])
print(dict1['Class'])
print(type(dict1))

Zara
7
A
<class 'dict'>

In [17]:
import pandas as pd

In [20]:
list2 = [["Kumar",10], ["Sai", 10] ,["Surathu", 10]]
list2

[['Kumar', 10], ['Sai', 10], ['Surathu', 10]]

In [21]:
pd.DataFrame(list2)

         0   1
0    Kumar  10
1      Sai  10
2  Surathu  10

In [23]:
dict2 = {"names":["Kumar","Sai","Prashanth"],"scores": [10,15,20] }

In [24]:
 pd.DataFrame(dict2)

       names  scores
0      Kumar      10
1        Sai      15
2  Prashanth      20

In [26]:
ip1 = pd.read_csv('matches2008-2016.csv')
ip1_new = pd.read_csv('matches2017.csv')

In [27]:
ip1.head(2)

,match_id,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,player_of_match_id,venue,venue_id,umpire1,umpire2
0,2008_1,2008,Bangalore,18-04-2008,KKR,RCB,RCB,field,normal,0,KKR,140,0,Brendon McCullum,82.0,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,Asad Rauf,RE Koertzen
1,2008_2,2008,Chandigarh,19-04-2008,CSK,KXI,CSK,bat,normal,0,CSK,33,0,Michael Hussey,18.0,I.S. Bindra Punjab Cricket Association Stadium...,9,MR Benson,SL Shastri

In [8]:
df1 = pd.DataFrame({'A':['A0','A1','A2','A3'],'B':['B0','B1','B2','B3'],'C':['C0','C1','C2','C3'],'D':['D0','D1','D2','D3']},index=[0,1,2,3])
df2 = pd.DataFrame({'A':['A4','A5','A6','A7'],'B':['B4','B5','B6','B7'],'C':['C4','C5','C6','C7'], 'D':['D4','D5','D6','D7']},index=[4,5,6,7])                   
df3 = pd.DataFrame({'A':['A8','A9','A10','A11'],'B':['B8','B9','B10','B11'],'C':['C8','C9','C10','C11'],'D':['D8','D9','D10','D11']},index=[8,9,10,11])
frames = [df1,df2,df3]    
print(frames)                        
result=pd.concat(frames)
print(result)

[    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3,     A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7,       A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11]
      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [9]:
d1 =[10,20,30,40,50]
df = pd.DataFrame(d1)
print(df.dtypes)
df1 = df.astype('object')

0    int64
dtype: object

In [12]:
d1 = [10,20]
d2 =[30,40]
df1 = pd.DataFrame(d1)
df2 = pd.DataFrame(d2)
df = df1.append(df2)
print(df)

    0
0  10
1  20
0  30
1  40